.single-note {
    position: relative;
    
    margin: 10px;
    margin-left: 25px;
    margin-right: 25px;
    box-sizing: content-box;
    height: 140px;
    width: 140px;
    border-radius: 2px;
    outline: none;
}
.single-note:active {
    transform: unset;
}
.scaled-markdown {
    transform: scale(0.5);
    background-color: rgb(250, 223, 140);
    width: 282px;
    height: 283px;
    overflow: hidden;
    position: relative;
    left: -71px;
    top: -73px;
    padding: 12px;
    cursor: pointer;
    transition: box-shadow 0.3s ease-out,
                transform 0.3s ease-in-out;
}
.scaled-markdown:hover {
    box-shadow: 0 8px 16px rgba(0, 0, 0, .15);
    transform: scale(0.7, 0.7)
}

