.add-butt {
  margin-top: 10px;
  margin-left: 26px;
  margin-right: 24px;
  cursor: pointer;
  background-color: rgb(255, 254, 252);
  height: 100px;
  width: 100px;
  border-radius: 2px;
  outline: none;
  transition-duration: 0.4s;
  font-size: 30px;
  color: rgb(186, 186, 186)
}
.add-butt:hover {
  color: rgb(186, 186, 186);
  box-shadow: 0 8px 16px rgba(0, 0, 0, .15);
  
}
.svg {
  height: 1em;
  width: 1em;
  fill: currentColor;
}

.show-text {
  display: none;
}

.add-butt:hover .show-text {
  display: block;
  font-size: small;
}
