html, body, #app {
    height: 100%;
}
#app {
    display: flex;
    justify-content: center;
    align-content: center;
    background-color: #F0F8FF;
}
.container {
   height: 100%;
   width: 960px;
   max-width: 960px;

}
.head {
    width: 100%;
    text-align: center;
    font-family: 'Dancing Script', cursive;
    text-shadow: 1px 1px 2px grey;
    font-size: 40px;
    /* background-image: url('./stars.gif'); */
    padding: 10px;
    margin-bottom: 40px;
    margin-top: 40px;

}
.note-size {
    height: 100px;
    width: 100px;
    border-radius: 4px;
    border: 1px solid #4f4f53;
}
.all-notes {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    width: 100%;
}