html, body, #app {
    height: 100%;
}
#app {
    display: flex;
    justify-content: center;
    align-content: center;
}
.container {
   height: 100%;
   width: 960px;
   max-width: 960px;

}
.head {
    width: 100%;
    margin: auto;
    padding: 10px;

}
.add-note {
    height: 80px;
    width: 80px;
}
.all-notes {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
}