.single-note {
    position: relative;
    background-color: rgb(250, 223, 140);
    margin: 10px;
    margin-left: 25px;
    margin-right: 25px;
    box-sizing: content-box;
}
.show-note {
    display: flex;
    width: 100px;
    height: 100px;
    cursor: pointer;
    justify-content: center;
    align-items: center;
}

.scaled-markdown {
    transform: scale(0.4);
    width: 250px;
    height: 240px;
    overflow: hidden;
    position: relative;
    left: -75px;
    top: -70px;
    padding: 9px;
    cursor: pointer;
}
