.single-note {
    position: relative;
    background-color: rgb(250, 223, 140);
    color: black;
    margin: 10px;
    margin-left: 25px;
    margin-right: 25px;
}
.show-note {
    display: flex;
    width: 100px;
    height: 100px;
    cursor: pointer;
    justify-content: center;
    align-items: center;
}
